.form {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.marginTop {
  margin-top: 20px;
}

.field {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2px;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error {
  color: red;
}
