.thumb {
  display: flex;
  gap: 20px;
}

.nav {
  display: flex;
  gap: 20px;
}

.button {
  text-decoration: none;
  background-color: #fff;
}

.button:hover {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}
